// out: "style.less"

@bg-light-color:#f9f7f7;
@bg-dark-color:#f9f7f7;
@bg-footer-color:#112d4e;
@secondary-light-color:#dbe2ef;
@secondary-dark-color:#3f72af;
@menu-text-color:#8d8d8d;
@paragraph-color:#333333;
@font-main:'Montserrat', sans-serif;
@font-secondary:'Gelasio', serif;
